.component {
  padding: 0 20px;
  background: #efefef;
  margin: 0 0 50px;
}

.question {
  padding: 0 10px;
}

.question h4 {
  font-weight: 400;
}

.choices {
  display: flex;
  flex-wrap: wrap;
}

.choice {
  padding: 12.5px;
  background: #fff;
  margin: 12.5px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 72em) {
  .choice {
    width: calc(50% - 25px);
    min-height: 80px;
  }
}